@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

.container {
  /* width: 35 rem;
  height: 68 rem; */
}

.card {
  width: 18rem;
  height: 28rem;
  background: cornsilk;
  margin: 8rem auto;
}

.card-suit {
  /* background: yellow; */
  border: 1px black solid;
}

p {
  background: tomato;
  font-size: 3.5rem;
}

.spade,
.club {
  color: black;
}

.heart,
.diamonds {
  color: red;
}
