@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

.card {
  width: 18rem;
  height: 28rem;
  background: cornsilk;
  margin: 5rem auto;
  box-shadow: 5px 7px 3px 4px rgba(0, 0, 0, 0.2);
}

.card-suit {
  /* background: yellow; */
  border: 1px black solid;
}

p {
  /* background: tomato; */
  font-size: 5rem;
}

.spade,
.club {
  color: black;
}

.heart,
.diamonds {
  color: red;
}
