@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

#container {
  /* width: 40 rem;
    height: 70 rem; */
  /* background: cadetblue; */
}

.card {
  width: 28rem;
  height: 40rem;
  background: cornsilk;
  margin: 15rem auto;
}

.card-suit {
  width: 20%;
  height: 10%;
  background: yellow;
  margin: 1rem;
}
